{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 130,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/index.css",
    "tailwindAttributes": ["cssClasses", "className"]
}
